<h2>Pre-print Papers</h2>

<p><strong>EdgeCrafter: Compact ViTs for Edge Dense Prediction via Task-Specialized Distillation</strong> [<a href="https://intellindust-ai-lab.github.io/projects/EdgeCrafter/">PDF</a>]<br>
Longfei Liu*,  Yongjie Hou*,  Yang Li*,  Qirui Wang*,  Youyang Sha, Yongjun Yu, Yinzhi Wang, Peizhe Ru, <strong>Xuanlong Yu</strong><sup title="corresponding author">✉</sup><br>, Xi Shen<sup title="corresponding author">✉</sup>
<em>arxiv, 2026</em></p>

<p><strong>From Misclassifications to Outliers: Joint Reliability Assessment for Classification</strong> [<a href="https://intellindust-ai-lab.github.io/projects/SUREPlus/">PDF</a>]<br>
Yang Li, Youyang Sha, Yinzhi Wang, Timothy Hospedales, Xi Shen, Shell Xu Hu<sup title="corresponding author">✉</sup>, <strong>Xuanlong Yu</strong><sup title="corresponding author">✉</sup><br>
<em>arxiv, 2026</em></p>

<p><strong>OV-DEIM: Real-time DETR-Style Open-Vocabulary Object Detection with GridSynthetic Augmentation</strong> [<a href="https://github.com/wleilei/OV-DEIM">PDF</a>]<br>
Leilei Wang, Longfei Liu, Xi Shen, <strong>Xuanlong Yu</strong>, Ying Tiffany He, Fei Richard Yu<sup title="corresponding author">✉</sup>, Yingyi Chen<sup title="corresponding author">✉</sup>
<em>arxiv, 2026</em></p>

<h2>Conference / Journal Papers</h2>

<p><strong>A Closer Look at Cross-Domain Few-Shot Object Detection: Fine-Tuning Matters and Parallel Decoder Helps</strong> [<a href="https://openreview.net/pdf/0c3dd7f321945b783da004896972df7b77421476.pdf">PDF</a>]<br>
<strong>Xuanlong Yu</strong>, Youyang Sha, Longfei Liu, Xi Shen<sup title="corresponding author">✉</sup>, Di Yang<sup title="corresponding author">✉</sup><br>
<em>The IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR), 2026</em></p>

<p><strong>MoVie: Broaden Your Views with Human Motion for Action Detection</strong> [<a href="https://openreview.net/pdf/0c3dd7f321945b783da004896972df7b77421476.pdf">PDF</a>]<br>
Di Yang, Mahmoud Ali, <strong>Xuanlong Yu</strong>, Xi Shen, Quan Kong, Gianpiero Francesca, Francois Bremond<sup title="corresponding author">✉</sup><br>
<em>The IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR), 2026</em></p>

<p><strong>FSOD-VFM: Few-Shot Object Detection with Vision Foundation Models and Graph Diffusion</strong> [<a href="https://arxiv.org/pdf/2602.03137">PDF</a>]<br>
Chen-Bin Feng*, Youyang Sha*, Longfei Liu, Yongjun Yu, Chi Man Vong<sup title="corresponding author">✉</sup>, <strong>Xuanlong Yu</strong><sup title="corresponding author">✉</sup>, Xi Shen<sup title="corresponding author">✉</sup><br>
<em>The Fourteenth International Conference on Learning Representations (ICLR), 2026</em></p>

<p><strong>On the Calibration of Human Pose Estimation</strong> [<a href="https://openreview.net/pdf/0c3dd7f321945b783da004896972df7b77421476.pdf">PDF</a>]<br>
Kerui Gu*, Rongyu Chen*, <strong>Xuanlong Yu</strong>, Angela Yao<sup title="corresponding author">✉</sup><br>
<em>The International Conference on Machine Learning (ICML), 2024</em></p>

<p><strong>SURE: SUrvey REcipes for building reliable and robust deep networks</strong> [<a href="https://arxiv.org/abs/2403.00543">PDF</a>] [<a href="https://github.com/YutingLi0606/SURE">github</a>]<br>
Yuting Li, Yingyi Chen, <strong>Xuanlong Yu</strong>, Dexiong Chen, Xi Shen<sup title="corresponding author">✉</sup><br>
<em>The IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR), 2024</em></p>

<p><strong>Discretization-Induced Dirichlet Posterior for Robust Uncertainty Quantification on Regression</strong> [<a href="https://arxiv.org/abs/2308.09065">PDF</a>] [<a href="https://github.com/ENSTA-U2IS/DIDO">github</a>]<br>
<strong>Xuanlong Yu</strong>, Gianni Franchi, Jindong Gu, Emanuel Aldea<sup title="corresponding author">✉</sup><br>
<em>The 38th Annual AAAI Conference on Artificial Intelligence (AAAI), 2024</em></p>

<p><strong>InfraParis: A multi-modal and multi-task autonomous driving dataset</strong> [<a href="https://arxiv.org/abs/2309.15751">PDF</a>]<br>
Gianni Franchi, Marwane Hariat, <strong>Xuanlong Yu</strong>, Nacim Belkhir, Antoine Manzanera, David Filliat<sup title="corresponding author">✉</sup><br>
<em>IEEE/CVF Winter Conference on Applications of Computer Vision (WACV), 2024</em> (Oral)</p>

<p><strong>The Robust Semantic Segmentation UNCV2023 Challenge Results</strong> [<a href="https://arxiv.org/abs/2309.15478">PDF</a>]<br>
<strong>Xuanlong Yu</strong>, Yi Zuo, Zitao Wang, Xiaowen Zhang, Jiaxuan Zhao, Yuting Yang, Licheng Jiao, Rui Peng, Xinyi Wang, Junpei Zhang, Kexin Zhang, Fang Liu, Roberto Alcover-Couso, Juan C. SanMiguel, Marcos Escudero-Vinolo, Hanlin Tian, Kenta Matsui, Tianhao Wang, Fahmy Adan, Zhitong Gao, Xuming He, Quentin Bouniot, Hossein Moghaddam, Shyam Nandan Rai, Fabio Cermelli, Carlo Masone, Andrea Pilzer, Elisa Ricci, Andrei Bursuc, Arno Solin, Martin Trapp, Rui Li, Angela Yao, Wenlong Chen, Ivor Simpson, Neill D. F. Campbell, and Gianni Franchi<sup title="corresponding author">✉</sup><br>
<em>International Conference on Computer Vision Workshop (ICCVW), 2023</em></p>

<p><strong>MUAD: Multiple Uncertainties for Autonomous Driving, a benchmark for multiple uncertainty types and tasks</strong> [<a href="https://arxiv.org/abs/2203.01437">PDF</a>] [<a href="https://muad-dataset.github.io/">website</a>]<br>
Gianni Franchi*, <strong>Xuanlong Yu</strong>*, Andrei Bursuc, Angel Tena, Rémi Kazmierczak, Séverine Dubuisson, Emanuel Aldea, David Filliat<sup title="corresponding author">✉</sup><br>
<em>British Machine Vision Conference (BMVC), 2022</em></p>

<p><strong>Latent Discriminant deterministic Uncertainty</strong> [<a href="https://link.springer.com/chapter/10.1007/978-3-031-19775-8_15">PDF</a>] [<a href="https://github.com/ENSTA-U2IS/LDU">github</a>]<br>
Gianni Franchi*, <strong>Xuanlong Yu</strong>*, Andrei Bursuc, Emanuel Aldea, Severine Dubuisson, David Filliat<sup title="corresponding author">✉</sup><br>
<em>European Conference on Computer Vision (ECCV), 2022</em></p>

<p><strong>On Monocular Depth Estimation and Uncertainty Quantification using Classification Approaches for Regression</strong> [<a href="https://arxiv.org/abs/2202.12369">PDF</a>]<br>
<strong>Xuanlong Yu</strong>, Gianni Franchi, Emanuel Aldea<sup title="corresponding author">✉</sup><br>
<em>IEEE International Conference on Image Processing (ICIP), 2022</em> (Oral)</p>

<p><strong>SLURP: Side Learning Uncertainty for Regression Problems</strong> [<a href="https://arxiv.org/abs/2110.11182">PDF</a>] [<a href="https://github.com/xuanlongORZ/SLURP_uncertainty_estimate">github</a>]<br>
<strong>Xuanlong Yu</strong>, Gianni Franchi, Emanuel Aldea<sup title="corresponding author">✉</sup><br>
<em>British Machine Vision Conference (BMVC), 2021</em></p>

<p>*equal contribution; <span title="corresponding author">✉</span> corresponding author</p>
