<p><strong>On the Calibration of Human Pose Estimation</strong> [<a href="https://openreview.net/pdf/0c3dd7f321945b783da004896972df7b77421476.pdf">PDF</a>]<br>
Kerui Gu*, Rongyu Chen*, <strong>Xuanlong Yu</strong>, Angela Yao<br>
<em>The International Conference on Machine Learning (ICML), 2024</em></p>

<p><strong>SURE: SUrvey REcipes for building reliable and robust deep networks</strong> [<a href="https://arxiv.org/abs/2403.00543">PDF</a>] [<a href="https://github.com/YutingLi0606/SURE">github</a>]<br>
Yuting Li, Yingyi Chen, <strong>Xuanlong Yu</strong>, Dexiong Chen, Xi Shen<br>
<em>The IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR), 2024</em></p>

<p><strong>Discretization-Induced Dirichlet Posterior for Robust Uncertainty Quantification on Regression</strong> [<a href="https://arxiv.org/abs/2308.09065">PDF</a>] [<a href="https://github.com/ENSTA-U2IS/DIDO">github</a>]<br>
<strong>Xuanlong Yu</strong>, Gianni Franchi, Jindong Gu, Emanuel Aldea<br>
<em>The 38th Annual AAAI Conference on Artificial Intelligence (AAAI), 2024</em></p>

<p><strong>InfraParis: A multi-modal and multi-task autonomous driving dataset</strong> [<a href="https://arxiv.org/abs/2309.15751">PDF</a>]<br>
Gianni Franchi, Marwane Hariat, <strong>Xuanlong Yu</strong>, Nacim Belkhir, Antoine Manzanera, David Filliat<br>
<em>IEEE/CVF Winter Conference on Applications of Computer Vision (WACV), 2024</em> (Oral)</p>

<p><strong>The Robust Semantic Segmentation UNCV2023 Challenge Results</strong> [<a href="https://arxiv.org/abs/2309.15478">PDF</a>]<br>
<strong>Xuanlong Yu</strong>, Yi Zuo, Zitao Wang, Xiaowen Zhang, Jiaxuan Zhao, Yuting Yang, Licheng Jiao, Rui Peng, Xinyi Wang, Junpei Zhang, Kexin Zhang, Fang Liu, Roberto Alcover-Couso, Juan C. SanMiguel, Marcos Escudero-Vinolo, Hanlin Tian, Kenta Matsui, Tianhao Wang, Fahmy Adan, Zhitong Gao, Xuming He, Quentin Bouniot, Hossein Moghaddam, Shyam Nandan Rai, Fabio Cermelli, Carlo Masone, Andrea Pilzer, Elisa Ricci, Andrei Bursuc, Arno Solin, Martin Trapp, Rui Li, Angela Yao, Wenlong Chen, Ivor Simpson, Neill D. F. Campbell, and Gianni Franchi<br>
<em>International Conference on Computer Vision Workshop (ICCVW), 2023</em></p>

<p><strong>MUAD: Multiple Uncertainties for Autonomous Driving, a benchmark for multiple uncertainty types and tasks</strong> [<a href="https://arxiv.org/abs/2203.01437">PDF</a>] [<a href="https://muad-dataset.github.io/">website</a>]<br>
Gianni Franchi*, <strong>Xuanlong Yu</strong>*, Andrei Bursuc, Angel Tena, Rémi Kazmierczak, Séverine Dubuisson, Emanuel Aldea, David Filliat<br>
<em>British Machine Vision Conference (BMVC), 2022</em></p>

<p><strong>Latent Discriminant deterministic Uncertainty</strong> [<a href="https://link.springer.com/chapter/10.1007/978-3-031-19775-8_15">PDF</a>] [<a href="https://github.com/ENSTA-U2IS/LDU">github</a>]<br>
Gianni Franchi*, <strong>Xuanlong Yu</strong>*, Andrei Bursuc, Emanuel Aldea, Severine Dubuisson, David Filliat<br>
<em>European Conference on Computer Vision (ECCV), 2022</em></p>

<p><strong>On Monocular Depth Estimation and Uncertainty Quantification using Classification Approaches for Regression</strong> [<a href="https://arxiv.org/abs/2202.12369">PDF</a>]<br>
<strong>Xuanlong Yu</strong>, Gianni Franchi, Emanuel Aldea<br>
<em>IEEE International Conference on Image Processing (ICIP), 2022</em> (Oral)</p>

<p><strong>SLURP: Side Learning Uncertainty for Regression Problems</strong> [<a href="https://arxiv.org/abs/2110.11182">PDF</a>] [<a href="https://github.com/xuanlongORZ/SLURP_uncertainty_estimate">github</a>]<br>
<strong>Xuanlong Yu</strong>, Gianni Franchi, Emanuel Aldea<br>
<em>British Machine Vision Conference (BMVC), 2021</em></p>

<p>*equal contribution</p>
